.root {
  margin-left: 1rem;
  padding: 1rem 0 1rem 0;
}

.title {
  color: rgb(255, 255, 255, 1);
  font-size: 3rem;
}

.subtitle {
  color: rgb(255, 255, 255, 0.75);
  margin-top: 5px;
  text-align: right;
}
