.header {
  background: radial-gradient(
    150px 150px at 0% 0%,
    var(--color-accent),
    var(--color-accent-light) 50vw
  );

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 64px;
}
