:root {
  --bg-900: rgb(37, 37, 37);

  --color-900: #fff;
  --color-700: rgba(255, 255, 255, 0.75);
  --color-500: rgba(255, 255, 255, 0.5);
  --color-accent: rgb(212, 59, 92);

  --ff-body: 'Open Sans', sans-serif;
  --ff-title: 'IBM Plex Serif', serif;

  --fs-base: 19px; /* 1.3125rem; */
  --fs-m: 23px;
  --fs-l: 37px;
  --fs-xl: 57px;

  --fw-base: 300;
}
