:root {
  --bg-900: rgba(255, 255, 255, 0.9);

  --color-900: #000;
  --color-700: rgba(0, 0, 0, 0.75);
  --color-500: rgba(0, 0, 0, 0.5);
  --color-accent: rgb(212, 59, 92);
  --color-accent-light: rgb(212, 59, 92, 0.6);

  --ff-body: 'Open Sans', Verdana, Tahoma, Helvetica, sans-serif;
  --ff-title: 'IBM Plex Serif', Georgia, 'Times New Roman', Times, serif;

  --fw-base: 300;

  /*
    Type scale: type-scale.com
    (font size)
    - Scale: major second scale
    - Base font size: 19px

    Vertical rhythm: drewish.com/tools/vertical-rhythm
    (line height & margin)
    - Base font size: 19px
    - Base line height: 33.25px
    - Target font sizes: 21, 27, 34
  */
  --fs-base: 19px; /* 1.3125rem; */
  --fw-base: 300;
  --lh-base: 1.7368em; /* 33px */
  --margin-base: 0 0 1.7368em 0;

  --fs-m: 1.4211em; /* 27px */
  --fw-m: 400;
  --lh-m: 1.2222em; /* 33px */
  /* Todo: check if this breaks vertical rhythm */
  --margin-m: 1.2222em 0 1.2222em 0;

  --fs-l: 1.1053em; /* 21px */
  --fw-l: 100;
  --lh-l: 1.5714em; /* 33px */
  --margin-l: 1.5714em 0 0 0;

  --fs-xl: 1.7895em; /* 34px */
  --fw-xl: 400;
  --lh-xl: 1.9412em; /* 66px */
  --margin-xl: 0.9706em 0 0 0;
}
